/* Propiedades personalizadas (custom properties) */
:root {
  --root: 1rem; /* Establece el valor raíz como 1rem (ajusta según sea necesario) */
  --font-family-title: "Arial", sans-serif;
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: bold;
  --nav-item-font-size: medium;
  --nav-item-letter-spacing: 4%;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 3rem 0;
  --color-primary: #3498db;
  --nav-item-link-hover: var(--color-primary);
}

/* Targeting .navbar-menu class */
.navbar-menu {
  float: right;
}

/* Targeting .nav class */
.nav {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

/* Targeting .nav-item class */
.nav .nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  display: var(--nav-item-display);
  margin: var(--nav-item-margin);
}

/* Targeting .nav-link class */
.nav .nav-link {
  display: block;
  padding: calc(var(--root) / 2) var(--root); /* La mitad de la raíz para top y bottom, root completo para left y right */
}

/* Hover state for .nav-link */
.nav .nav-link:hover {
  color: var(--nav-item-link-hover);
}
