/* Seleccionar todas las clases que comienzan con "col-" */
[class^="col-"] {
  float: left; /* Flotar a la izquierda */
  padding: 8px; /* Padding de la mitad del valor raíz (16px por defecto, entonces 8px) */
}

/* Especificaciones individuales para las clases col-1-3 y col-1-2 */
.col-1-3 {
  width: 33.33%; /* Ancho de 33.33% */
}

.col-1-2 {
  width: 50%; /* Ancho de 50% */
}
