/* Seleccionar el atributo data-section-theme="dark" */
[data-section-theme="dark"] {
  --text-color: white; /* Establecer color blanco para el texto */
  --section-title-color: white; /* Establecer color blanco para el título de la sección */
  background: black; /* Establecer el fondo como negro */
}

/* Aplicar las variables a los elementos dentro de data-section-theme="dark" */
[data-section-theme="dark"] p {
  color: var(--text-color); /* Aplicar el color de texto blanco */
}

[data-section-theme="dark"] h2 {
  color: var(
    --section-title-color
  ); /* Aplicar el color del título de la sección blanco */
}
