/* Seleccionar el atributo data-section-theme="dark" */
[data-section-theme="dark"] {
  --text-color: white; /* Redefinir el color del texto a blanco */
  --section-title-color: white; /* Redefinir el color del título de la sección a blanco */
  background: var(
    --color-black
  ); /* Establecer el fondo al valor de la variable color-black */
}
