/* card-testimonial selector */
.card-testimonial {
  text-align: center;
}

/* card-avatar inside card-testimonial */
.card-testimonial .card-avatar {
  border-radius: 50%;
  width: calc(10 * 1rem); /* 10 times the root element's font size */
  height: calc(10 * 1rem); /* 10 times the root element's font size */
}

/* <cite> tag inside card-quote inside card-testimonial */
.card-testimonial .card-quote cite {
  display: block;
  padding-top: 1rem; /* 1 times the root element's font size */
  color: var(--color-primary);
}
