/* Definir las propiedades personalizadas (variables CSS) si no est치n definidas anteriormente */
:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);

  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;
}

/* Eliminar la decoraci칩n de los enlaces */
a {
  text-decoration: none; /* Elimina cualquier decoraci칩n (subrayado, etc.) */
  color: var(--text-color); /* Mantener el color del texto como el definido */
}

/* Puedes agregar m치s reglas si es necesario */
